:root {
    --fc: #ffff;
    --sc: gray;
    --tc: black;
    --foc: red;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--tc);
    font-family: Arial, Helvetica, sans-serif;
}

/* Header_Nav Styles */

header {
    padding: 100px 35px 10px 0;
    background-color: var(--sc);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position:static;
}
header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 40px;
    color: var(--fc);
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    background-color: var(--foc);
    padding: 10px 5px 10px 50px;
    justify-content: center;
}

header a {
    text-decoration: none;
    color: var(--fc);
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid;
    border-bottom-color: var(--fc);
}

/* Hero */

.hero {
    background-image: url('../images/SunflowerOption1.png');
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    background-attachment: fixed;
    background-position: right bottom;
    justify-content: center;
    align-items: flex-start;
    
}

.hero-cta {
    text-align: center;
    margin: 100px 35px 10px 0;
    color: var(--fc);
    line-height: 1.2;
    display: flex;
    flex-wrap: wrap;
}

.hero-cta h2 {
    background-color: var(--foc);
    margin: 100px 100px 0 980px;    
    padding: 10px 10px 10px 10px;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

/* Body */

/* About Me */

.bio {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.section-title {
    font-size: 40px;
    color: var(--tc);
    text-align: right;
    margin: 30px 0 30px 100px;
}

.bio p {
    line-height: 1.2;
    color: var(--tc);
    text-align: left;
    margin: 30px 100px 30px 25px;
    border-left: 3px solid;
    padding-left: 20px;
}

/* Work */

.work {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.work h3 {
    margin-left: 115px;
}

.project-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    flex-direction: column;
    border-left: 3px solid;
    margin: 30px 100px 30px 25px;
    padding-left: 20px;
}

.project1 {
    height: 500px;
    border: 5px solid var(--tc);
    width: 100%;
    margin: 10px 0 20px;
}

.other-projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 100px 10px 0;
}

.project2, .project3, .project4, .project5 {
    border: 5px solid var(--tc);
    width: 50%;
    height: 100px;
    padding: 50px 200px 50px 0;
    background-image: url('../images/ProjectPlaceholder.png');
}
.project2-font {
    background: var(--tc);
    font-family: helvetica;
    padding: 0 0 0 7px;
    color: var(--fc);
}

.p2title {
    font-size: 20px;

}

/* Utilities */





