:root {
    --fc: #ffff;
    --sc: #bc97f0;
    --tc: #fadf75;
    --foc: 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--fc);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--sc);
}

/* Header_Nav Styles */

header {
    padding: 15px 35px 15px 0;
    background-color: var(--sc);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}
header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 40px;
    color: var(--fc);
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    background-color: var(--tc);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px 10px 10px 50px;
    justify-content: center;
}

header a {
    text-decoration: none;
    color: var(--fc);
}

header nav {
    padding: 10px;
    margin: 10px 0 5px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 15px 15px 5px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid;
    border-bottom-color: var(--fc);
}

/* Hero */

.hero {
    background-image: url('../images/SunflowerOption1.png');
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    background-attachment: fixed;
    background-position: right bottom;
    justify-content: center;
    align-items: flex-start;
    
}

.hero-cta {
    text-align: center;
    margin: 100px 35px 10px 0;
    color: var(--fc);
    line-height: 1.2;
    display: flex;
    flex-wrap: wrap;
}

.hero-cta h2 {
    background-color: var(--sc);
    margin: 100px 100px 0 980px;    
    padding: 10px 10px 10px 10px;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

/* Body */

/* About Me */

.bio {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.section-title {
    font-size: 40px;
    text-align: right;
    margin: 30px 0 30px 100px;
}

.bio p {
    line-height: 1.2;
    text-align: left;
    margin: 30px 100px 25px 25px;
    border-left: 3px solid;
    padding: 35px 0 0 20px;
    font-weight: bold;
}

/* Work */

.work {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.work h3 {
    margin-left: 115px;
}

.project-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    flex-direction: column;
    border-left: 3px solid;
    margin: 30px 100px 15px 25px;
    padding-left: 20px;
}

.project1 {
    height: 500px;
    border: 5px solid var(--fc);
    width: 100%;
    margin: 10px 0 20px;
    background-image: url('../images/RunBuddyProjectBanner.png');
    background-position: top;
    padding: 425px 800px 50px 0;
    opacity: 0.75;
}


.project1-font {
    background: var(--tc);

}

.project1 a {
    font-size: 20px;
    text-decoration: none;
    color: var(--fc);
}

.other-projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 100px 10px 0;
    justify-content: space-between;
}

.project2, .project3, .project4, .project5 {
    border: 5px solid var(--fc);
    width: 49%;
    height: 125px;
    padding: 50px 200px 50px 0;
    background-image: url('../images/ProjectPlaceholder.png');
    background-position: left;
    opacity: 0.75;
}
.project2-font, .project3-font, .project4-font, .project5-font {
    background: var(--tc);
    background-size: auto;
    font-family: helvetica;
    padding: 0 0 0 7px;
    color: var(--fc);
    width: 100px;
}

.project4, .project5 {
    margin-top: 20px;
}
.p2title, .p4title, .p5title {
    font-size: 20px;
}

.project3 a {
    text-decoration: none;
    color: var(--fc);
    font-size: 20px;
}
/* Contact Me */

.contact {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.contact h3 {
    margin: 0 -60px 0 50px;
}

.contact a {
    text-decoration: none;
    color: var(--fc);
}

.points-of-contact {
    border-left: 3px solid var(--fc);
    padding: 25px;
    margin: 30px 100px 30px 100px;
    width: 100%;
}

.points-of-contact nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-align: right;
}

.points-of-contact nav ul li a {
    padding: 10px 15px;
    border-bottom: 3px solid var(--fc);
    margin: 200px 0 0 20px;
    font-weight: lighter;
    font-size: 1.5vw;
}

/* Media query for smaller desktop screens and smaller */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }


    .hero-cta {
        width: 100%;
        text-align: center;
    }

    .hero-cta h2 {
        margin: 100px 100px 0 750px;
    }

    .bio h3 {
        text-align: center;
        width: 40%;
    }

    .work h3 {
        text-align: center;
        width: 20%;
    }

    .project2, .project3, .project4, .project5 {
        flex: 0 100%;
    }

    .project3 {
        margin-top: 20px;
    }

    .contact h3 {
        text-align: center;
        width: 29%;
    }
}

/* Media query for tablets and smaller */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }

    .hero-cta h2 {
        margin: 100px 100px 0 500px;
    }


    .bio {
        padding: 15px;
    }


    .bio h3 {
        text-align: center;
        font-size: 25px;
        margin: 35px 20px;
    }

    .work {
        padding: 15px;
    }

    .work h3 {
        font-size: 25px;
        margin: 30px 15px;
    }


    .contact h3 {
        text-align: center;
        margin: 40px 32px;
        width: 10%;
        font-size: 25px;
    }

    .points-of-contact {
        width: 100%;
        margin: 15px 15px;
    }
}

/* Media query for mobile phones and smaller */
@media screen and (max-width: 575px) {
    .hero-cta h2 {
        margin: 100px 100px 0 350px;
    }

    .bio p {
        margin: 30px 100px 30px 15px;
    }

    .bio h3 {
        font-size: 20px;
        margin: 35px 10px 35px 10px;
    }

    .project-box {
        margin-left: 15px;
    }

    .work h3 {
        font-size: 20px;
    }

    .contact h3 {
        font-size: 20px;
        margin: 15px 13px;
        text-align: center;
    }

    .points-of-contact {
        padding: 5px;
    }
}

/* Hover features */

.project1:hover, .project2:hover, .project3:hover, .project4:hover, .project5:hover {
    opacity: 1.0;
    border-color: var(--tc);
}





